<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="{% static "js/validator.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/lightbox.min.css" %}" type="text/css">
    
    <link rel="stylesheet" href="{% static "css/Social.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>
<body>

        <header>
                <div class="container-fluid verde">
                  <div class="row">
              
                    <div class="col-sm-12 col-md-4 col-lg-4  foto">
                      <img src="{% static "img/logo.png" %}" alt="">
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="/">Inicio</a>
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="">Quienes somos</a>
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="">Servicios</a>
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="">Contactanos</a>
                    </div>
                    </div>
                  </div>
              </header>



              {% if user.is_authenticated %}
              <h1 class="nav-item">Bienvenido: {{usuario}}  <a href="{% url "cerrar_session" %}">Cerrar Sesión</a> </h1><br>
              {% else %}
               <h1 class="nav-item"><a href="{% url "login"%}">Ingresar</a> </h1>
               {% endif %}
             


    
        <div class="container">
                <h2>Listado de perros</h2>
                <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Raza</th>
                          <th scope="col">Foto</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">Estado</th>
                          {% if user.is_authenticated %}
                          <th>Acciones</th>
                          {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                          {% for p in perros %}

                            {% if p.estado == 'Disponible' %}
                              <tr>
                                  <th scope="row">{{p.id}}</th>
                                  <td>{{p.nombre}}</td>
                                  <td>{{p.raza}}</td>
                                  <td><img src="/media/{{p.foto}}" alt="no foto" height="50" srcset=""></td>
                                  <td>{{p.descripcion}}</td>
                                  <td>{{p.estado}}</td>
                                  {% if user.is_authenticated %}
                                  <td> 
                                      
                                      <a href="/adopcion/{{p.id}}/{{usuario}}"><button type="button" class="btn btn-success">Adoptar</button></a>
                                  {% endif %}
                              </tr>
                              {% endif %}
                          {% endfor %}                  
                      </tbody>
                    </table>
            </div>    









            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="{% static "js/app.js" %}"></script>
            <script src="{% static "js/validator.js" %}"></script>
            <script src="{% static "js/jquery-3.3.1.js" %}"></script>
            <script src="{% static "js/popper.js" %}"></script>
            <script src="{% static "js/bootstrap.js" %}"></script>
            <script src="{% static "js/jquery.validate.js" %}"></script>
            <script src="{% static "js/lightbox.min.js" %}"></script>
            <script src="{% static "js/app.js" %}"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>
</html>