<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <script src="{% static "js/validator.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/lightbox.min.css" %}" type="text/css">
    
    <link rel="stylesheet" href="{% static "css/Social.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>
<body style="background-color: white">
        <header>
                <div class="container-fluid verde">
                  <div class="row">
              
                    <div class="col-sm-12 col-md-4 col-lg-4  foto">
                      <img src="{% static "img/logo.png" %}" alt="">
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="/">Inicio</a>
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="">Quienes somos</a>
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="">Servicios</a>
                    </div>
              
                    <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
                      <a href="">Contactanos</a>
                    </div>
                  </div>
                          </div>
              </header>


    
    
    <div class="container">
    <form id="formulario" enctype="multipart/form-data" action="/editarPerro/edit/{{perro.id}}" method="post">
        {% csrf_token %}

        <div>
            <h1 class="centrartexto">{{perro.nombre}}</h1>
            <img class="center-img" src="/media/{{perro.foto}}" alt="no foto" >
        </div>
        <br>
        <br>
        <div class="form-group">
          <label for="nombreperro">Nombre perro</label>
          <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required value="{{perro.nombre}}">
        </div>
        <input type="hidden" id="id" name="id" value="">
        <div class="form-group">
          <label for="raza">Raza</label>
          <input type="text" class="form-control" name="raza" id="raza" placeholder="Raza" required value="{{perro.raza}}">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion" required value="{{perro.descripcion}}">
        </div>
        <div class="form-group">
          <label for="foto">Foto</label>
          <input type="file" class="form-control" name="foto" id="foto" placeholder="Foto" onchange="return fileValidation()">
          <div class="form-group" id="imagePreview"></div>
        </div>

        <div class="form-group">
          <label for="estado">Estado</label>
          <select name="estado" id="estado" class="form-control">
            <option hidden>{{perro.estado}}</option>
            <option>Rescatado</option>
            <option>Disponible</option>
            <option>Adoptado</option>
        
          </select>
        </div>



          <br>
          <button type="submit" class="btn btn-primary">Editar perro</button>
          <a href="/mantenedor/"><button type="button" class="btn btn-danger">Volver</button></a>
        </form>
    </div>  


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="{% static "js/app.js" %}"></script>
      <script src="{% static "js/validator.js" %}"></script>
      <script src="{% static "js/jquery-3.3.1.js" %}"></script>
      <script src="{% static "js/popper.js" %}"></script>
      <script src="{% static "js/bootstrap.js" %}"></script>
      <script src="{% static "js/jquery.validate.js" %}"></script>
      <script src="{% static "js/lightbox.min.js" %}"></script>
      <script src="{% static "js/app.js" %}"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</body>
</html>