{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styleform.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="fondo_form" >
  <div class="container">
      <form id="formulario" method="POST" class="agile_form" action="{% url "crear" %}">
          {% csrf_token %}
          <h1 class="titulos text-center">Registro de adopción</h1>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="">E-mail</label>
              <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
            </div>

            <div class="form-group col-md-4">
              <label for="">Contraseña</label>
              <input name="contrasenia" type="password" class="form-control" id="contrasenia" placeholder="Contraseña" required>
            </div>

            <div class="form-group col-md-4">
              <label for="">Run</label>
          
              <input name="run" type="text" class="form-control" id="rut" required oninput="checkRut(this)" maxlength="11" placeholder="Run">
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="">Nombre Completo</label>
                  <input  name="nombre" type="text" class="form-control letras" id="nombre" placeholder="Nombre completo" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputAddress2">Fecha Nacimiento</label>
                  <input name="fechanac" type="date" class="form-control" id="inputAddress2" max="2001-01-01" placeholder="Apartment, studio, or floor" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Telefono contacto</label>
                    <input name="telefono" type="text" class="form-control input-number" id="telefono" required minlength="11" maxlength="11" value="+569">
                  </div>
          </div>
          <div class="form-row">
            
            <div class="form-group col-md-4">
              <label for="region">Región</label>
              <select name="region" id="region" class="form-control" required>
                <option hidden value="">Seleccione..</option>
              </select>
            </div>

            <div class="form-group col-md-4">
                <label for="region">Comuna</label>
                <select name="comuna" id="comuna" class="form-control" required>
                  <option hidden value="">Seleccione..</option>
                </select>
              </div>
  
            <div class="form-group col-md-4">
              <label for="">Tipo de vivienda</label>
              <select name="vivienda" id="vivienda" class="form-control" required>
                  <option hidden value="">Seleccionar...</option>
                  <option>Casa con patio grande</option>
                  <option>Casa con patio pequeño</option>
                <option>Casa sin patio</option>
                  <option>Departamento</option>  
              </select>
              </div>
           </div>
           <br>
          <div class="form-group">
            <div class="form-check">
              <input name="terminos" class="form-check-input" type="checkbox" id="check" required>
              <label class="form-check-label" for="gridCheck">
                Acepto terminos y condiciones
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
          <button type="reset" class="btn btn-danger">Limpiar</button>
        </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h1 style="color: white" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
            {% endfor %}
        </ul>
        {% endif %}
  
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static "js/validarRUT.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
</body>
</html>