{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mis perris</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
        
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/lightbox.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/Social.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">

</head>
<body>
    
  <header>
    <div class="container-fluid verde">
      <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4  foto">
          <a href="/"><img src="{% static "img/logo.png" %}" alt=""></a>
        </div>

        <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
          <a href="">Inicio</a>
        </div>

        <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
          <a href="">Quienes somos</a>
        </div>

        <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
          <a href="">Servicios</a>
        </div>

        <div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
          <a href="">Contactanos</a>
        </div>
      </div>
    </div>
  </header>
<div style="background-color: #85D4B7">
        {% if user.is_authenticated %}
        <h1 class="nav-item" style="color: white" >Bienvenido {{user.first_name}}  <a href="{% url "cerrar_session" %}">Cerrar Sesión</a> </h1><br>
        {% else %}
         <h1 class="nav-item"><a href="{% url "login"%}">Ingresar</a> </h1><br>
         {% endif %}
</div>
  

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100 img-max" src="{% static "img/adoptados/Tom.jpg" %}" alt="First slide">
              <div class="carousel-caption letracarru">
                  <h5>Tom</h5>
                  <p class="borde">Es increíble la cantidad de amor y risas que traen a nuestras vidas e incluso cuánto nos acercamos entre
                      nosotros gracias ellos</p>
              </div>
          </div>

          <div class="carousel-item">
              <img class="d-block w-100 img-max" src="{% static "img/adoptados/Apolo.jpg" %}" alt="Second slide">
              <div class="carousel-caption letracarru">
                  <h5>Apolo</h5>
                  <p class="borde">Quiero amar como un perro, con devoción descarada y completa falta de preocupación por lo que la gente
                      hace con su vida, la cantidad de dinero que tienen, o cuánto pesan</p>
              </div>
          </div>
          <div class="carousel-item">
              <img class="d-block w-100 img-max" src="{% static "img/adoptados/Duque.jpg" %}" alt="Third slide">
              <div class="carousel-caption letracarru">
                  <h5>Duque</h5>
                  <p class="borde">Un perro es la única cosa en la tierra que te ama más de lo que se ama a sí mismo</p>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>

  <div class="container-fluid inline verde centrar-texto">
      <div class="row">
          <div class="col">
              <a target="_blank" href="https://www.facebook.com">
                  <i class="fab fa-facebook-square fa-2x margenicono"></i>
              </a>
              <a target="_blank" href="https://googleplus.com">
                  <i class="fab fa-google-plus-square fa-2x margenicono"></i>
              </a>
              <a target="_blank" href="https://www.instagram.com">
                  <i class="fab fa-instagram fa-2x margenicono"></i>
              </a>
              <a target="_blank" href="mailto:maa.fernandezg@alumnos.duoc.cl">
                  <i class="fas fa-envelope-square fa-2x margenicono"></i>
              </a>
          </div>
      </div>
  </div>
  

  <div class="container-fluid" id="perro">
      <div class="row">
          <div id="derecho" class="col-xs-12 col-md-6 col-sm-6">
              <h3>Rescate</h3>
              <h6>Etapa Uno</h4>
              <hr>
              <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles
                  un hogar.</p>
              <img class="imagen" src="{% static "img/rescate.jpg" %}" alt="rescate">



          </div>
          <div id="izquierdo" class="col-xs-12 col-md-6 col-sm-6">
              <img class="imagen" src="{% static "img/crowfunding.jpg" %}" alt="crowfunding" srcset="">
              <h2>Crowfunding</h2>
              <h4>Financiamiento</h4>
              <hr>
              <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos
                  para obtener financiamiento para seguir ayudando.</p>
                  <a href="#" ><button type="button" class="btn btn-default">Campañas</button></a>
                  {% if user.is_authenticated %}
                <a href="/adopcion/"><button type="button" class="btn btn-primary">Adoptar</button></a> 
                 {% else %}
                 <a href="/login/"><button type="button" class="btn btn-primary">Adoptar</button></a> 
                 {% endif %}
              </p>
          </div>
          



      </div>
  </div>
 
  <div class="container-fluid verde">
      <div class="galeria">
        
            <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12 d-flex justify-content-center mb-5">
                  
                      <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">Todos</button>
                      <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="Disponible">Disponibles</button>
                      <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="Adoptado">Adoptados</button>
                      <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="Rescatado">Rescatado</button>
                  
                    </div>
                    <!-- Grid column -->
                  
            </div>
                  <!-- Grid row -->
                  
                  <!-- Grid row -->
                  <div class="gallery" id="gallery">
                    
                    {% for p in perritos %}
            
                    <!-- Grid column -->
                    <div class="mb-3 pics animation all {{p.estado}}">
                        <a href="/media/{{p.foto}}" data-lightbox="mygallery" data-title="{{p.descripcion}}"><img width="400" height="400" class="img-fluid" src="/media/{{p.foto}}" alt="Card image cap"></a>
                    </div>
                    <!-- Grid column -->
                  
                    {% endfor %}
                  
                  </div>

      </div>
  </div>

    








 

  <footer>
      <p>Building by necromantys & malinarich</p>
  </footer>





    
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/lightbox.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/galeria.js" %}"></script>
</body>
</html>