
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Inicio de sesion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="¨{% static "images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "css/lightbox.min.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "css/Social.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "css/style2.css" %}" type="text/css">
</head>

<body>
	
<script>
		window.fbAsyncInit = function() {
		  FB.init({
			appId      : '2225584774375971',
			cookie     : true,
			xfbml      : true,
			version    : 'v3.2'
		  });
			
		  FB.AppEvents.logPageView();   
			
		};
	  
		(function(d, s, id){
		   var js, fjs = d.getElementsByTagName(s)[0];
		   if (d.getElementById(id)) {return;}
		   js = d.createElement(s); js.id = id;
		   js.src = "https://connect.facebook.net/en_US/sdk.js";
		   fjs.parentNode.insertBefore(js, fjs);
		 }(document, 'script', 'facebook-jssdk'));
	  </script>

	<header>
		<div class="container-fluid verde">
			<div class="row">
			
				<div class="col-sm-12 col-md-4 col-lg-4  foto">
					<img src="{% static "img/logo.png" %}" alt="">
				</div>
			
				<div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
					<a href="{% url "index" %}">Inicio</a>
				</div>
			
				<div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
					<a href="">Quienes somos</a>
				</div>
			
				<div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
					<a href="">Servicios</a>
				</div>
			
				<div class="col-sm-12 col-md-2 col-lg-2 centrartexto otrocolor opnav">
					<a href="">Contactanos</a>
				</div>
			</div>
		</div>
	</header>


	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="POST" class="login100-form validate-form p-l-55 p-r-55 p-t-178 " action="{% url "iniciar" %}">
					{% csrf_token %}
					<span class="login100-form-title">
						Inicio sesion
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
						<input class="input100" type="text" name="nombre" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Please enter password">
						<input class="input100" type="password" name="contrasenia" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							Olvidaste tu
						</span>

						<a href="{% url 'password_reset' %}" class="txt2">
							nombre de usuario / contraseña?
						</a>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Iniciar sesion
						</button>
					</div>

					<div class="container-login100-form-btn">
							<button class="btn btn-secondary btn-block mt-5" type="submit">Sign in!</button>
							<a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
							   <span class="fab fa-facebook"></span>
								  Login with facebook
							 </a>

					</div>

					

					<div class="flex-col-c p-t-50 p-b-40">
						<span class="txt1 p-b-9">
							¿No tienes cuenta?
						</span>

						<a href="{% url 'formulario' %}" class="txt3">
							REGISTRATE
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
<!--===============================================================================================-->
	<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "js/main.js" %}"></script>
	<script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/lightbox.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

</body>
</html>